/* can I add a style checklist:
    ~ can it be done modularly?
    ~ what am I really trying to make it look like? why is this special?
    ~ is it a feature unique to this element?

/* ELEMENTS */

.left   {float: left;  text-align: left}
.right  {float: right; text-align: right}
.center {text-align: center;}
.bold   {font-weight: bold;}
.normal {font-weight: normal;}
.italic {font-style: italic;}

.halfL {left: 0;}
.halfR {left: 512px;}
.halfL, .halfR {width: 412px; height: 540px;  padding: 50px; top:0;}
.slide > div   {z-index: 1;}
.halfL, .halfR {z-index:-1; position: absolute;}

.slide blockquote:before {
  content: "“";
  position: absolute;
  margin: -10px 0 0 -55px;
  font-style: italic;
}
.slide blockquote:before {font-size: 150px;}

.overlay,
.halfL h2,
.halfR h2
  {background-color: #000000;}

.slide h2, .shout h2, #hello h2
  {text-shadow: 1px 1px 1px #292929;}


/* TYPOGRAPHY and COLOURS */

.slide blockquote:before,
h2 {color: #4E4E4E;}
h2 strong, .overlay, .bg
   {color: white;}

h2                  {font-size: 95px;}
.slide p            {font-size: 20px;}
#flossd h2          {font-size: 75px;}
.halfL h2,.halfR h2 {font-size: 85px;}
blockquote          {font-size: 38px;}

.halfL h2, .halfR h2, .slide h2
 {text-align: center;}

.halfL h2, .halfR h2
  {font-weight: bold;}

.shout h2
  {font-weight: normal;}
 

/* POSITIONING */

/* elements */
blockquote {margin-left: 50px;}
.overlay, .bg {padding: 20px 30px;}


/* UNIQUE positionings */

#comp8440 .slide h2 {margin-top: 60px;}
#libre h2 {margin-top: 90px;}
#fri.slide div.overlay {margin-top: 90px;}

/*
#comp8440 p,
.halfL h2,
.halfR h2 {
    margin-top: 160px;
}
#flossd h2   {margin-top: 0;}
.overlay div {margin-top: 60px;}
.shout h2, #hello h2 {margin-top: -78px;}
.slide h2 {margin: -65px 0 37px;}
*/





