{% extends 'admin/change_form.html' %}


{% block extrahead %}
{{ block.super }}
<script src="{{STATIC_URL}}jquery.min.js"></script>
<script src="{{STATIC_URL}}ckeditor/ckeditor.js"></script>
<script src="{{STATIC_URL}}ckeditor/adapters/jquery.js"></script>
<style>
.cke_textarea_inline {width: 380px;}
input.vTextField {width: 130px;}
</style>

{% endblock %}

{% block footer %}
<script>
$( document ).ready( function() {
  $('.vLargeTextField').each(function(i, obj) {
    CKEDITOR.inline(this.id);
  });
} );
</script>
{% endblock %}
