<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>PyCon 2014 -- Hitchhikers Guide to Open Source Participation -- Elena Williams</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=792, user-scalable=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="{{STATIC_URL}}/themes/elena/styles/screen.css">
  <link rel="stylesheet" href="{{STATIC_URL}}/themes/elena/styles/custom.css">  
<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700,300,200' rel='stylesheet' type='text/css'>

</head>
<body class="list">
  <header class="caption">
    <h1>PyCon 2014</h1>
    <p>Hitchhikers Guide to Open Source Participation</p>
  </header>

{% for slide in slides %}

<section class="slide {% if slide.style %}{{slide.style}}{% endif %}" id="{{slide.slide_id}}">
  <div>
    <h2>{{slide.header|safe}}</h2>
    {{slide.content|safe}}
  </div>
</section>

{% endfor %}

  <p class="badge"><a href="https://github.com/elena/hhgt-fossd.github.io">Fork me on Github</a></p>
  <div class="progress"><div>
  <script src="{{STATIC_URL}}/shower.min.js"></script>
</body>
</html>
