<!DOCTYPE HTML>
<html lang="en">
<head>
  <title>PyCon 2014 -- Hitchhikers Guide to Open Source Participation -- Elena Williams</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=792, user-scalable=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" href="{{STATIC_URL}}/themes/elena/styles/screen.css">
  <link rel="stylesheet" href="{{STATIC_URL}}/themes/elena/styles/custom.css">
<link href='http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700,300,200' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Droid+Serif:400,700' rel='stylesheet' type='text/css'>
</head>
<body class="list">
  <header class="caption">
    <h1>PyCon 2014</h1>
    <p>Hitchhikers Guide to Open Source Participation</p>
    <h2>
      Per slide: {{ time_per_slide }}<br>
      {%  if time_per_section %}Per section: {{ time_per_section }}{% endif %}
    </h2>
    </p>
  </header>

{% for slide in slides %}

<section class="slide {% if slide.style %}{{slide.style}}{% endif %} {% if slide.colour_scheme %}{{slide.colour_scheme}}{% endif %}" id="{{slide.slide_id}}">
  <div {%if slide.bg_img%}style="background:url({{STATIC_URL}}slides/{{slide.bg_img}}) no-repeat top left;" class="bg"{%endif%}>
    {% if slide.header %}<h2 class="title">{{slide.header|safe}}</h2>{% endif %}
    {% if slide.content %}
      {% if slide.header %}<div class="body">{% endif %}
      {{slide.content|safe}}
      {% if slide.header %}</div>{% endif %}
    {% endif %}
    {% if slide.helper %}<div class="helper">{{slide.helper|safe}}</div>{% endif %}
  </div>
</section>

{% endfor %}

  <p class="badge"><a href="https://github.com/elena/hhgt-fossd.github.io">Fork me on Github</a></p>
  {# <div class="progress"><div> #}
  <script src="{{STATIC_URL}}shower.js"></script>
</body>
</html>
