http://commons.wikimedia.org/wiki/File:Beer_on_The_Beach.jpg


http://en.wikipedia.org/wiki/History_of_software_engineering

IBM unbundling
http://www.youtube.com/watch?v=UIDb6VBO9os
http://news.google.com/newspapers?nid=849&dat=19691224&id=zdlPAAAAIBAJ&sjid=b1QDAAAAIBAJ&pg=5895,4882332
http://en.wikipedia.org/wiki/History_of_IBM#1969:_Antitrust.2C_the_Unbundling_of_software_and_services

Stallman
http://oreilly.com/openbook/freedom/
http://stallman.org/


Copyright
Fashion
http://commons.wikimedia.org/wiki/File:Fashion_Art_by_Manuel_Fernandez_-Exposici%C3%B3n_CEART.jpg
http://www.flickr.com/photos/seeminglee/2619145460/in/pool-creative_commons-_free_pictures

http://www.flickr.com/photos/arte/2835823985/in/pool-creative_commons-_free_pictures

Freedom
http://www.flickr.com/photos/bartvandamme/3777010827/in/pool-creative_commons-_free_pictures
http://www.flickr.com/photos/kk/5556602260/in/pool-creative_commons-_free_pictures
http://www.flickr.com/photos/coffeego/4231487109/
http://www.flickr.com/photos/rnddave/8722725245/


Open Source Licenses:
http://www.blackducksoftware.com/resources/data/

http://en.wikipedia.org/wiki/List_of_FSF-approved_software_licenses
http://p2pfoundation.net/Open_Source_Licenses
http://www.onlamp.com/pub/a/onlamp/2004/11/18/licenses.html


Statistics about project
http://www.youtube.com/watch?v=Er1pM9suxvE


http://upload.wikimedia.org/wikipedia/commons/c/c3/Global_Topographic_Map_of_Titan_%28PIA16848%29.jpg
http://www.orefind.com/images/blog-figures/topo2_fig4.jpg?sfvrsn=0


https://www.youtube.com/watch?v=5UnhH5Ub0DU

Zero v. Non-zero marginal cost (and 100bn/annum reference):
https://www.youtube.com/watch?v=tbcy_ZxXLl8

http://en.wikipedia.org/wiki/File:Hedera_hibernica_with_berries.JPG

http://upload.wikimedia.org/wikipedia/commons/d/d4/Parque_Nacional_do_Itatiaia_floresta.jpg

http://en.wikipedia.org/wiki/File:Vintage_Atomizer_Perfume_Bottle.JPG
http://en.wikipedia.org/wiki/File:Smilie_2.JPG

http://philip.greenspun.com/images/pcd1359/free-speech-area-27